.Header-socialLink {
    background-size: cover;
    width: 25px;
    height: 25px;
    object-fit: cover;
    filter: invert(0.5);
    cursor: pointer;
    transition: filter 1s;
    margin: 4px 16px;
}
.Header-socialLink:hover {
    filter: invert(0.2);
}

.Header-LinksBar {
    margin: 12px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}