.Hi-igPhotos {
    width: 100px;
  margin: 5px;
    height: 100px;
  background-size: cover;
  object-fit: cover;
}

.Hi-ig {
  color: #9e9e9e;
}

.Hi-igWrapper {
  text-align: center;
  justify-content: center;
}