.App {
  text-align: center;
}

.App-picture {
  background-size: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;

}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

