@import "assets/Serif/cmun-serif.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Computer Modern Serif', sans-serif;
}
h1 {
  font-weight: 600;
}

h2 {
  font-weight: 200;
}

h3 {
    font-weight: 200;
}

h4 {
    font-weight: 200;
}

ul {
    list-style: none;
}
